h1{
    text-align:center;
    height:150px;
    background-color: antiquewhite;
}
.dt{
    display: flex;
    flex-wrap:wrap;
    margin-top: 80px;
    margin-left:30px;
} 
.dt div{
    box-shadow: 5px 5px 10px #e1dfdf;
    height: 350px;
    width:330px;
}

.dt img{
    display: flex;
    margin-right: 100px;
    width: 150;
    height: 150;
    transition: width 0.4s ease-in-out;
}
.logo img{
    width: 140;
    height:100;
    margin-top: -150;
    color: antiquewhite;
}
.gh img{
    width:60;
    height: 60;
    float:right;
   margin-right: 350;
   margin-top: -40;
}

.dnhap{     
    float:right;
    margin-top:-15;
    margin-right: 30;
}
.dnhap a{
    text-decoration: none;
}
ul {
    float: left;
  }
  
.trch a {
    padding: 45px;
    margin-top:-45;
    margin-bottom: 30;
    height:8;
    text-decoration: none;
}
.trch{
    display:flex;
    margin-top: -50;
}
.tk{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -90;
    margin-right: 10;
}
.sb_btn{
    position: absolute;
    width: 24;
    height: 21;
    background-color: gray;
}
.sb_btn img{
    margin-top: -1;
    margin-left: -5;
}
.sp{
    border:1px solid #ccc ;
    padding: 10px; 
    margin-left:0px;
    margin-top:0px;
}
.sp p{
    text-align:center;
}
.sp img{
     margin-left: 100px;
     transform:opacity 0.2s;
}
.sp:hover{
    opacity:0.5;
}
.sp:active{
    opacity:0,2;
}

