h1{
    text-align:center;
    height:150px;
    background-color: antiquewhite;
}
.dt{
    display: flex;
    flex-wrap:wrap;
    margin-top: 80px;
} 
.dt div{
    box-shadow: 5px 5px 10px #767070;
}
.dt img{
    display: flex;
    margin-right: 100px;
    width: 150;
    height: 150;
    transition: width 0.4s ease-in-out;
}
.logo img{
    width: 140;
    height:100;
    margin-top: -150;
    color: antiquewhite;
}
.gh img{
    width: 35;
    height: 35;
    float:right;
   margin-right: 430;
   margin-top: -30;
}

.dnhap{
    float:right;
    margin-top: 30;
}
li {
    float: left;
  }
  
li a {
    display: block;
    padding: 45px;
    margin-top:-45;
    margin-bottom: 30;
    height:8;
}
ul{
    margin-top: -50;
}
.tk{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -80;
}
.sb_btn{
    position: absolute;
    width: 24;
    height: 21;
    background-color: gray;
}
.sb_btn img{
    margin-top: -1;
    margin-left: -5;
}
.sp{
    border:1px solid #ccc ;
    padding: 10px; 
    display:grid;
    margin-left:30px;
    margin-top:15px;
    border-top-right-radius:10%;
    border-top-left-radius:10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius:10%;
}
.sp p{
    text-align:center;
}
.sp img{
     margin-left: 100;
     transform:opacity 0.2s;
}
.sp:hover{
    opacity:0.5;
}
.sp:active{
    opacity:0,2;
}

